.article {
  max-width: 1200px;
  margin: auto;
  font-size: 12px;
  .article_list {
    border-bottom: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    .info_title {
      color: #2e3135;
      font-size: 14px;
      font-weight: 600;
      margin-top: 6px;
      margin-bottom: 10px;
    }
    .info_number {
      color: "#c8c8c8";
      height: 24px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}
