.nav {
  background: #fff;
  border-bottom: 1px solid #ccc;
  .logo {
    height: 50px;
    margin: 5px;
  }
  .nav-ul {
    max-width: 1200px;
    height: 60px;
    margin: auto;
    li {
      line-height: 60px;
      padding: 0 20px;
      &:hover {
        color: #007fff;
        cursor: pointer;
      }
    }
  }
}
